<html>
  <body>
    <form action="node/doEdit" method="post">
      <input name="id" type="hidden" value="{{data.id}}" />
      <div>
        <label>标题</label>
        <input name="title" type="text" value="{{data.title}}" /></div>
      <div>
        <label>Link</label>
        <input name="link" type="text" value="{{data.link}}" /></div>
      <div>
      <label>content</label>
      <input name="content" type="text" value="{{data.content}}" /></div>
      <div>
        <input name="submit" type="submit" /></div>
    </form>
  </body>
</html>
